# Created by https://www.toptal.com/developers/gitignore/api/swiftpm,swiftpackagemanager
# Edit at https://www.toptal.com/developers/gitignore?templates=swiftpm,swiftpackagemanager

### SwiftPackageManager ###
Packages
.build/
xcuserdata
DerivedData/

### Firebase ###
.idea
**/node_modules/*
**/.firebaserc
**/GoogleService-Info.plist

### Firebase Patch ###
.runtimeconfig.json
.firebase/

# End of https://www.toptal.com/developers/gitignore/api/swiftpm,swiftpackagemanager
