<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>864931838011-m8eaqdhogm6qmhieucf6ce0f3q8955m5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.864931838011-m8eaqdhogm6qmhieucf6ce0f3q8955m5</string>
	<key>API_KEY</key>
	<string>AIzaSyAiVK3Omja-KrbYeya06CbZWKhdqZ3AzFU</string>
	<key>GCM_SENDER_ID</key>
	<string>864931838011</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sanhan.FirebaseExample</string>
	<key>PROJECT_ID</key>
	<string>fir-example-48a1f</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-example-48a1f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:864931838011:ios:cfd49f44751a8b8e8e841e</string>
</dict>
</plist>